// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

//my style
#app{
    nav.main-header{
        background-image: url('/storage/image/co-dai.jpg');
        background-position: 100% 0%;
    }
    img.brand-image{
        opacity: .8;
    }
    ul.nav-treeview{
        display: block;
    }
} 
